<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AttributeRouting" version="2.4.0.0" targetFramework="net40" />
  <package id="Autofac" version="2.6.3.862" />
  <package id="Autofac.Mvc3" version="2.6.3.862" />
  <package id="AutoMapper" version="2.1.267" targetFramework="net40" />
  <package id="Facebook" version="6.0.20" />
  <package id="PagedList" version="1.14" targetFramework="net40" />
  <package id="PagedList.Mvc" version="3.16" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.3" targetFramework="net40" />
  <package id="T4MVC" version="2.10.0" />
  <package id="WebActivator" version="1.0.0.0" targetFramework="net40" />
</packages>