/* reset.css */
html { margin: 0; padding: 0; border: 0; }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }
body { line-height: 1.5; background: white; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; float: none !important; }
table, th, td { vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
:focus { outline: 0; }

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
.clear { clear: both; }

a { color: #5083ae; text-decoration: none; }
a:hover { text-decoration: underline; }


/* forms.css */
label { font-weight: bold; }
fieldset { padding: 0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend { font-weight: bold; font-size: 1.2em; margin-top: -0.2em; margin-bottom: 1em; }
fieldset, #IE8#HACK { padding-top: 1.4em; }
legend, #IE8#HACK { margin-top: 0; margin-bottom: 0; }
input[type=text], input[type=password], input.text, input.title, textarea { background-color: #fff; border: 1px solid #bbb; }
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus { border-color: #666; }
select { background-color: #fff; border-width: 1px; border-style: solid; }
input[type=text], input[type=password], input.text, input.title, textarea, select { margin: 0.5em 0; }
input.text, input.title { width: 300px; padding: 5px; }
input.title { font-size: 1.5em; }
textarea { width: 390px; height: 250px; padding: 5px; }
form.inline { line-height: 3; }
form.inline p { margin-bottom: 0; }
.error, .alert, .notice, .success, .info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a { color: #514721; }
.success a { color: #264409; }
.info a { color: #205791; }


.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-reset { border: 0 none; font-size: 100%; line-height: 1.3; list-style: none outside none; margin: 0; outline: 0 none; padding: 0; text-decoration: none; }



body { font-size: 75%; color: #222; background: #fff; font-family: Arial, "Helvetica Neue" , Helvetica, sans-serif; text-align: center; }

#header { border-bottom: 3px solid #6fa300; }
#header #menuSection { width: 970px; position: relative; margin: 0 auto; text-align: left; }
#header ul#menu { display: block; margin-top: 20px; }
#header ul#menu li { display: block; width: 154px; height: 44px; float: left; background: #6fa300 url("/Content/images/menu-tab.png"); }
#header ul#menu li a { text-transform: uppercase; font-size: 12px; font-weight: bold; display: block; width: 150px; height: 42px; text-align: center; margin-top: 17px; color: #fff; text-decoration: none; }
#header ul#logon { position: absolute; right: 0; top: 15px; }
#header ul#logon li { display: block; float: left; }
#header ul#logon li.bar { padding: 0 7px; color: #5083ae; }


#Main { width: 970px; text-align: left; padding: 0 20px; margin: 0 auto; }
#MainLeft { width: 550px; float: left; padding: 30px 0 0 20px; }

/* http://zenverse.net/create-a-fancy-search-box-using-css/ */
#searchwrapper { border: 1px solid #D1c9c2; color: #754c29; background: #fff5f2; position: relative; /*important*/ width: 280px; height: 28px; margin-bottom: 20px; }
#searchwrapper form { display: inline; }
input.searchbox { border: 0px; background-color: transparent; position: absolute; top: -2px; left: 25px; width: 250px; height: 20px; }
.searchbox_submit { border: 0px; /*important*/ background-color: transparent; /*important*/ position: absolute; /*important*/ top: 4px; left: 5px; width: 15px; height: 20px; }

#CategoryList { float: left; width: 120px; }
#CategoryList ul { list-style-type: none; }
#CategoryList ul li { border-bottom: 1px solid #d1c9c2; padding: 0 0 5px 0; margin: 0 0 10px 0; }
#CategoryList ul li a { font-size: 13px; }
#sourceBox { float: right; width: 400px; }
#sourceBox .inner { overflow: auto; width: 350px; height: 400px; border: 1px solid #d1c9c2; padding: 7px; }
.sourceItem { width: 70px; text-align: center; float: left; margin: 0 7px 0 0; }
.sourceItem a:hover { text-decoration: none; }

#MainRight { width: 400px; float: right; }
#MainRight #blender { width: 408px; height: 489px; position: relative; background: url("/Content/images/blender.png"); margin: 60px 0; }
#MainRight #blender #targetBox { overflow: auto; width: 170px; height: 230px; border: 1px solid #d1c9c2; padding: 7px; position: absolute; top: 110px; left: 88px; }
.drop-active { background: #ffff99; }
.targetItem { float: left;width: 85px;text-align: center;font-size: 11px;}
.targetItem input.qty { width: 15px;}
.targetItem .delete { cursor: pointer;}
#btnBlend { position: absolute; top: 436px; left: 110px; }


#footer { text-align: center; }
#footer #divider { height: 8px; background: #fff url("/Content/images/footer-divider.png") repeat-x; margin: 20px 0; padding: 20px 0 0 0; font-weight: bold; color: #9c8476; }
#footer #links { margin: 0; padding: 0; }
#footer #links li { display: inline; }
#footer #links li.bar { padding: 0 10px; color: #5083ae; }


